.border{
    border-radius: 30px;
    border: 1px solid #6662df;
}

.centering_parent {
    padding: 20px;
    background-color:  #ddd;
    height: 300px;
    width: 300px;
    position: relative;
}

.centering_item {
   background-color:white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateY(-50%) translateX(-50%);
   padding: 20px;
}

.font{
    font-weight: bold;
    margin-bottom: 30px;
}

.margin{
    margin-bottom: 30px;
}

.flex{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.button{
    border: 1px solid #6662df;
    padding:10px 20px;
    cursor: pointer;
    border-radius: 30px;
    color: black;
}

.color{
    color: #6662df;
}

.button_hover{
    border: 1px solid #6662df;
    padding:10px 20px;
    margin:0 10px auto;
    cursor: pointer;
    border-radius: 30px;
    color: black;
}